* {
    box-sizing: border-box;
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.display_none {
    display: none;
}

.clear {
    clear: both;
}


/* ==================================== */

.header {
    padding-top: 10px;
    background: #095aa9;
    height: 80px;
}

.logoheader,
.logoheader {
    float: left;
}

.logoheader {
    width: 100px;
    margin-left: 50px;
}

.menu>li {
    float: right;
    margin-right: 15px;
}

.menu>li>a {
    color: #fff;
    text-decoration: none;
}


/* ==============header_2============== */

.header_2 {
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 2px;
    height: 27.8px;
}


/* =============header_input============= */

.header_input {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #f9af00;
    height: 55px;
    margin-bottom: 0px;
}

.header_input_form,
.header_input_icon,
.header_input_button {
    float: left;
    margin-left: 15px;
}

.header_input_form {
    width: 250px;
}

.header_input_button {
    width: 200px;
    color: #fff;
}

.header_input_icon {
    padding-top: 5px;
}

.button_input {
    color: #fff;
    background: #177bd0!important;
    border-radius: 5px!important;
    padding-left: 13px;
    padding-right: 13px;
    font-weight: 700;
    outline: none;
    height: 34px;
}


/* =====================filter_header====================== */

.filter_header {
    height: 50px;
    background-color: #efefef;
    margin-top: 0px;
    padding-top: 8px;
}

.filter_menu_list {
    margin-top: 5px;
    float: right;
}

.filter_menu_list>li {
    float: left;
}

.filter_menu_list li a {
    font-size: 15px;
}

.fml_child {
    margin-right: 100px;
    position: relative;
}

.fml_child>a {
    text-decoration: none;
}

.fml_child:hover .fml_child_dropdown_content {
    display: block;
}

.fml_child_dropdown_content {
    display: none;
    position: absolute;
    width: 100px;
}


/* ======================================= */

.mc_card {
    padding-top: 10px;
    height: 118px;
    border-top: 1.8px solid #efefef;
    border-bottom: 1.8px solid #efefef;
}

.mc_card_c {
    width: 150px;
    /* height: 50px; */
}

.mc_card_nhaxe {
    margin-left: 12px;
    width: 100px;
}

.nhaxe_icon_ser {
    padding-top: 15px;
}

.ser1 {
    margin-right: 10px;
    float: left;
    width: 20px;
}

.mc_card_icon,
.mc_card_nhaxe {
    float: left;
}

.mc_card_dd {
    padding-top: 20px;
    padding-left: 60px;
    float: left;
    text-align: center;
    width: 280px;
}

.arror_icon {
    margin-left: 10px;
    margin-right: 10px;
}

.mc_card_dd_lichtrinh {
    /* margin:0 auto; */
    margin-top: 12px;
}

.mc_card_loaixe {
    width: 300px;
    padding-top: 15px;
    padding-left: 100px;
}

.checked {
    color: orange;
}

.mc_card_star {
    padding-top: 30px;
    padding-left: 60px;
}

.volrate {
    margin-top: 5px;
    margin-left: 4px;
}

.mc_card_price {
    margin-right: 5px;
}

.mccp {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.btn_choncho {
    /* width: 120px; */
    margin-top: 3px;
    height: 40px;
    padding: 9px 8px 9px 8px;
    border-radius: 3px;
    background-color: #f9af00;
}

.btn_cc_cont:hover {
    background-color: #e5a100;
}

.btn_cc_icon {
    padding-right: 4px;
    border-right: 1.8px solid #e5a100;
    width: 24px;
}

.btn_cc_cont {
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
}

.conten_foot {
    clear: both;
    font-size: 15px;
    font-style: italic;
}


/* ================Popup============== */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    /* position: fixed;  */
    padding-top: 30px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    /* max-height: 80%; */
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}


/* ===========left-popup-content============= */

.left-popup-content {
    width: 60%;
    float: left;
    /* background-color: brown; */
}

.tbk_custom {
    width: 500px;
    margin-top: 30px;
    /* padding-top: 100px; */
    /* padding: 10px 40px 10px 40px; */
}

.ods_intrs {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 80px;
}

.color {
    margin-right: 5px;
}

.idsch {
    margin-right: 30px;
}

.icon_exit>img {
    width: 30px;
}


/* =================right-popup-content======================= */

.right-popup-content {
    float: left;
    width: 40%;
    border-left: 1.8px solid #ddd;
}

.form_custom_popup {
    padding-left: 30px;
    padding-right: 30px;
}


/* ====================footer============================= */

.footer {
    background-color: #333333;
    height: 230px;
}

.about {
    widows: 250px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.about_title {
    width: 200px;
    font-size: 14px;
    /* height: 30px; */
    color: #ffffff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.about_cont {
    width: 200px;
    font-size: 12px;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}

.abco {
    margin-top: 9px;
}

.abco_icon {
    margin-top: 4px;
    margin-right: 2px;
}

.abco_icon>img {
    width: 20px;
}

.abco_cont {
    margin-left: 5px;
    width: 180px;
    color: #ffffff;
}