body {
    font-family: Arial, Helvetica, sans-serif;
  }
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  .wrapper{
    margin: 0 auto;
    width: 980px;
  }
  /* ================navbar================ */
  .navbar{
    background-color: #36494E;
    width: 980px;
    height:31.03px;
  }
  .navbar-tag{
    float: right;
    position: relative;
  }
  .navbar-tag:hover .dropbtn-content{
    display: block;
  }
  .dropbtn{
    background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  }
  .dropbtn-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;;
  }
  .person-info{
    font-size: 12px;
    padding-left: 8px;
    padding-right: 9px;
  }
  /* ===========form-search=========== */
  .form-search{
    width: 980px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:#75B2DD;
    overflow: hidden;
    padding-left: 30px;
  }
  .form-search-content{
    font-size: 12px;
    float: left;
    margin-right: 50px;
  }
  .form-search-content > label{
    margin-right: 20px;
  }
  .inputstyle{
    width: 100px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    font-size: 10px;
  }
  .form-search-btn{
    font-size: 11px;
    background-color:#111114;
    border: none;
    color: white;
    text-align: center;
    height: 17px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  /* ===========main-content============= */
  .main-content{
    width: 980px;
    min-height: 500px;
  }
  .left-content{
    width: 200px;
    height: 500px;
    float: left;
    background-color: #eee;
  }
  /* ===========left-content============ */
  .left-content a{
    background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  }
  .left-content a:hover{
    background-color: #ccc;
  }
  .left-content a.active{
    background-color: #E0510E;
  color: white;
  }
  .left-content-box{
    overflow-y: auto;
    height: 500px;
  }
  /* ==============right-content================== */
  .right-content{
    float: left;
    width: 780px;
    height: 500px;
    background-color: cornflowerblue;
  }
  table.blueTable {
    border: 3px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 4px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  /* ================popup================= */
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button-a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button-a:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    /* max-height: 80%; */
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  /* ===========left-popup-content============= */
  .left-popup-content{
    width: 60%;
    float: left;
    /* background-color: brown; */
  }
  table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 4px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 10px;
    color: #140F33;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
    background: -moz-linear-gradient(top, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    background: -webkit-linear-gradient(top, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    background: linear-gradient(to bottom, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot td {
    font-size: 13px;
  }

  
/* =================right-popup-content======================= */
  .right-popup-content{
    float: left;
    width: 40%;
    /* height: 300px; */
    padding: 12px;
    background-color: #FCECCB;
    border: 1px solid #ccc;

  }
  .inputrightpopup {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;

    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .nextButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nextButton:hover {
    background-color: #45a049;
  }
  
  .form-popup-right-content {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
  }