<div class="plane">
    <ol class="cabin fuselage">
        <li class="row" id="row_list_ghe">
            <ol class="seats" type="A">
                <li class='seat'>
                    <input type='checkbox' id='X1'/>
                    <label for='X1'>X1</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X2"/>
                    <label for="X2">X2</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X3"/>
                    <label for="X3">X3</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X4"/>
                    <label for="X4">X4</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X5"/>
                    <label for="X5">X5</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X6"/>
                    <label for="X6">X6</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X7"/>
                    <label for="X7">X7</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X8"/>
                    <label for="X8">X8</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X9"/>
                    <label for="X9">X9</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X10"/>
                    <label for="X10">X10</label>
                </li>
            </ol>
        </li>
        <li class="row">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="X11"/>
                    <label for="X11">X11</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X12"/>
                    <label for="X12">X12</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X13"/>
                    <label for="X13">X13</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X14"/>
                    <label for="X14">X14</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X15"/>
                    <label for="X15">X15</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X16"/>
                    <label for="X16">X16</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X17"/>
                    <label for="X17">X17</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X18"/>
                    <label for="X18">X18</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X19"/>
                    <label for="X19">X19</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X20"/>
                    <label for="X20">X20</label>
                </li>
            </ol>
        </li>
        <li class="row">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="X21"/>
                    <label for="X21">X21</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X22"/>
                    <label for="X22">X22</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X23"/>
                    <label for="X23">X23</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X24"/>
                    <label for="X24">X24</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X25"/>
                    <label for="X25">X25</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X26"/>
                    <label for="X26">X26</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X27"/>
                    <label for="X27">X27</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X28"/>
                    <label for="X28">X28</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X29"/>
                    <label for="X29">X29</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X30"/>
                    <label for="X30">X30</label>
                </li>
            </ol>
        </li>
        <li class="row">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="X31"/>
                    <label for="X31">X31</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X32"/>
                    <label for="X32">X32</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X33"/>
                    <label for="X33">X33</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X34"/>
                    <label for="X34">X34</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X35"/>
                    <label for="X35">X35</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X36"/>
                    <label for="X36">X36</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X37"/>
                    <label for="X37">X37</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X38"/>
                    <label for="X38">X38</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X39"/>
                    <label for="X39">X39</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="X40"/>
                    <label for="X40">X40</label>
                </li>
            </ol>
        </li>
    </ol>
</div>