<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/css/all.min.css">
    <link rel="stylesheet" href="/custom/css/style-trangchu.css">
    <link rel="stylesheet" href="/custom/css/style-seatbooking.css">
    <script type="text/javascript" src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/libs/jquery-ui/jquery-ui.1.12.1.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap-datepicker.js"></script>
    <script src="/libs/bootstrap/bootstrap.4.1.0.min.js"></script>
    <script src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap.4.1.0.min.js"></script>
    <script type="text/javascript" src="/custom/js/layouts/common_component.js"></script>
    <script type="text/javascript" src="/custom/js/trang_chu.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo_header">
            <a href="/trang-chu">
                <img class="logoheader" src="/static/images/logo.svg" alt="">
            </a>
        </div>
        <div class="menu_header">
            <ul class="menu">
                <li><a href="/">Tìm Kiếm Chuyến Đi</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li id="nav_login" hidden><a href="/loginRequest">Đăng nhập</a></li>
                <li id="nav_register" hidden><a href="">Đăng ký</a></li>
            </ul>
        </div>
    </div>
    <div class="header_input">
        <div class="header_input_form">
            <label for="start_location">Điểm xuất phát</label>
            <select name="" id="start_location" class="form-control" required="required">
                <option th:each="tinh:${tinhs}" th:value="${tinh}" th:text="${tinh}"></option>
            </select>
        </div>
        <div class="header_input_icon">
            <span style="font-size: 20px;" class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="header_input_form">
            <label for="end_location">Điểm kết thúc</label>
            <select name="" id="end_location" class="form-control" required="required">
                <option th:each="tinh:${tinhs}" th:value="${tinh}" th:text="${tinh}"></option>
            </select>
        </div>
        <div class="header_input_form">
            <label for="start_date">Ngày xuất phát</label>
            <input type="date" id="start_date" class="form-control datepicker" placeholder="MM/DD/YYYY">
        </div>
        <div class="header_input_button">
            <button class="btn button_input" type="button">Tìm kiếm vé xe</button>
        </div>
    </div>
    <div class="filter_header">
        <div class="filter_menu">
            <ul class="filter_menu_list">
                <li style="margin-right: 100px; font-size: 15px;">Sắp xếp tuyến đường theo:</li>
                <li class="fml_child">
                    <div class="dropdown">
                        <button class="dropbtn">Giờ Xuất Phát</button>
                        <div class="dropdown-content">
                            <a href="#">Tăng Dần</a>
                            <a href="#">Giảm Dần</a>
                        </div>
                    </div>
                </li>
                <li class="fml_child">
                    <div class="dropdown">
                        <button class="dropbtn">Đánh Giá</button>
                        <div class="dropdown-content">
                            <a href="#">Tăng Dần</a>
                            <a href="#">Giảm Dần</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main_content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Nhà Xe</th>
                <th>Xuất Phát</th>
                <th>Kết Thúc</th>
                <th>Trạng Thái Xe</th>
                <th>Đánh Giá</th>
                <th>Đặt Vé</th>
            </tr>
            </thead>
            <tbody id="chuyen_xes_collection">
            </tbody>
        </table>

        <div id="myModal" class="modal">
            <div class="popup">
                <h2>Đặt Vé</h2>
                <a class="close" data-dismiss="modal">&times;</a>
                <div class="content">
                    <div class="left-popup-content">
                        <table class="table table-hover tbk_custom">
                            <thead>
                            <tr>
                                <th>Số ghế còn trống</th>
                                <th>Giá mỗi ghế</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_modal">
                            </tbody>
                        </table>

                        <div class="orderseat-content">
                            <div class="ods_intrs">
                                <div class="color float_left" style="display: block;
                                background: #F42536;
                                    width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Không chọn</div>
                                <div class="color float_left" style="display: block;
                                background: #dddddd;
                                width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế trống</div>
                                <div class="color float_left" style="display: block;
                            background: #bada55;
                            width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế đang chọn</div>
                            </div>
                            <div class="icon_exit clear">
                                <label>
                                    <select id="book_ticket_floors" hidden>
                                        <option value="tang_1">Tầng 1</option>
                                        <option value="tang_2">Tầng 2</option>
                                    </select>
                                </label>
                            </div>
                            <div class="plane">
                                <ol class="cabin fuselage">
                                    <li class="row" id="row_list_ghe">
                                        <ol class="seats" type="A">
                                            <li class='seat' id='G1'>
                                                <input type='checkbox' id='X1'/>
                                                <label for='X1'>X1</label>
                                            </li>
                                            <li class="seat" id="G2">
                                                <input type="checkbox" id="X2"/>
                                                <label for="X2">X2</label>
                                            </li>
                                            <li class="seat" id="G3">
                                                <input type="checkbox" id="X3"/>
                                                <label for="X3">X3</label>
                                            </li>
                                            <li class="seat" id="G4">
                                                <input type="checkbox" id="X4"/>
                                                <label for="X4">X4</label>
                                            </li>
                                            <li class="seat" id="G5">
                                                <input type="checkbox" id="X5"/>
                                                <label for="X5">X5</label>
                                            </li>
                                            <li class="seat" id="G6">
                                                <input type="checkbox" id="X6"/>
                                                <label for="X6">X6</label>
                                            </li>
                                            <li class="seat" id="G7">
                                                <input type="checkbox" id="X7"/>
                                                <label for="X7">X7</label>
                                            </li>
                                            <li class="seat" id="G8">
                                                <input type="checkbox" id="X8"/>
                                                <label for="X8">X8</label>
                                            </li>
                                            <li class="seat" id="G9">
                                                <input type="checkbox" id="X9"/>
                                                <label for="X9">X9</label>
                                            </li>
                                            <li class="seat" id="G10">
                                                <input type="checkbox" id="X10"/>
                                                <label for="X10">X10</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat" id="G11">
                                                <input type="checkbox" id="X11"/>
                                                <label for="X11">X11</label>
                                            </li>
                                            <li class="seat" id="G12">
                                                <input type="checkbox" id="X12"/>
                                                <label for="X12">X12</label>
                                            </li>
                                            <li class="seat" id="G13">
                                                <input type="checkbox" id="X13"/>
                                                <label for="X13">X13</label>
                                            </li>
                                            <li class="seat" id="G14">
                                                <input type="checkbox" id="X14"/>
                                                <label for="X14">X14</label>
                                            </li>
                                            <li class="seat" id="G15">
                                                <input type="checkbox" id="X15"/>
                                                <label for="X15">X15</label>
                                            </li>
                                            <li class="seat" id="G16">
                                                <input type="checkbox" id="X16"/>
                                                <label for="X16">X16</label>
                                            </li>
                                            <li class="seat" id="G17">
                                                <input type="checkbox" id="X17"/>
                                                <label for="X17">X17</label>
                                            </li>
                                            <li class="seat" id="G18">
                                                <input type="checkbox" id="X18"/>
                                                <label for="X18">X18</label>
                                            </li>
                                            <li class="seat" id="G19">
                                                <input type="checkbox" id="X19"/>
                                                <label for="X19">X19</label>
                                            </li>
                                            <li class="seat" id="G20">
                                                <input type="checkbox" id="X20"/>
                                                <label for="X20">X20</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat" id="G21">
                                                <input type="checkbox" id="X21"/>
                                                <label for="X21">X21</label>
                                            </li>
                                            <li class="seat" id="G22">
                                                <input type="checkbox" id="X22"/>
                                                <label for="X22">X22</label>
                                            </li>
                                            <li class="seat" id="G23">
                                                <input type="checkbox" id="X23"/>
                                                <label for="X23">X23</label>
                                            </li>
                                            <li class="seat" id="G24">
                                                <input type="checkbox" id="X24"/>
                                                <label for="X24">X24</label>
                                            </li>
                                            <li class="seat" id="G25">
                                                <input type="checkbox" id="X25"/>
                                                <label for="X25">X25</label>
                                            </li>
                                            <li class="seat" id="G26">
                                                <input type="checkbox" id="X26"/>
                                                <label for="X26">X26</label>
                                            </li>
                                            <li class="seat" id="G27">
                                                <input type="checkbox" id="X27"/>
                                                <label for="X27">X27</label>
                                            </li>
                                            <li class="seat" id="G28">
                                                <input type="checkbox" id="X28"/>
                                                <label for="X28">X28</label>
                                            </li>
                                            <li class="seat" id="G29">
                                                <input type="checkbox" id="X29"/>
                                                <label for="X29">X29</label>
                                            </li>
                                            <li class="seat" id="G30">
                                                <input type="checkbox" id="X30"/>
                                                <label for="X30">X30</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat" id="G31">
                                                <input type="checkbox" id="X31"/>
                                                <label for="X31">X31</label>
                                            </li>
                                            <li class="seat" id="G32">
                                                <input type="checkbox" id="X32"/>
                                                <label for="X32">X32</label>
                                            </li>
                                            <li class="seat" id="G33">
                                                <input type="checkbox" id="X33"/>
                                                <label for="X33">X33</label>
                                            </li>
                                            <li class="seat" id="G34">
                                                <input type="checkbox" id="X34"/>
                                                <label for="X34">X34</label>
                                            </li>
                                            <li class="seat" id="G35">
                                                <input type="checkbox" id="X35"/>
                                                <label for="X35">X35</label>
                                            </li>
                                            <li class="seat" id="G36">
                                                <input type="checkbox" id="X36"/>
                                                <label for="X36">X36</label>
                                            </li>
                                            <li class="seat" id="G37">
                                                <input type="checkbox" id="X37"/>
                                                <label for="X37">X37</label>
                                            </li>
                                            <li class="seat" id="G38">
                                                <input type="checkbox" id="X38"/>
                                                <label for="X38">X38</label>
                                            </li>
                                            <li class="seat" id="G39">
                                                <input type="checkbox" id="X39"/>
                                                <label for="X39">X39</label>
                                            </li>
                                            <li class="seat" id="G40">
                                                <input type="checkbox" id="X40"/>
                                                <label for="X40">X40</label>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="right-popup-content" id="right_div">
                        <div class="form_custom_popup" id="book_ticket_form_login">
                            <div class="form-group">
                                <label for="username">Tài Khoản</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Mật Khẩu</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <button class="btn btn-primary" id="confirm_login">Đăng Nhập</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" id="btn_payment" style="float: right" hidden>Thanh
                                Toán
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="about float_left">
            <div class="about_title">Về chúng tôi</div>
            <div class="about_cont">Về chúng tôi</div>
            <div class="about_cont">Tuyển dụng</div>
            <div class="about_cont">Liên hệ</div>
            <div class="about_cont">Phần mềm nhà xe</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Hỗ trợ</div>
            <div class="about_cont">Quy định của chúng tôi</div>
            <div class="about_cont">Câu hỏi thường gặp</div>
            <div class="about_cont">Cơ chế giải quyết tranh chấp</div>
            <div class="about_cont">Chính sách bảo mật</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Phương thức thanh toán</div>
            <div class="about_con">
                <div class="payment_icon float_left"><img style="width: 80px; margin-top: 9px;" class="pm_ic_ing"
                                                          src="/images/logo-mastercard-mobile.svg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 50px;" class="pm_ic_ing"
                                                          src="/images/visa-icon-png-20.jpg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 40px; margin-top: 6px;margin-left: 20px;"
                                                          class="pm_ic_ing" src="/images/logo-momo.jpg" alt=""></div>
            </div>
            <div class="about_con"><img style="width: 150px;" src="/images/Android-App-Store-logos.png" alt=""></div>
        </div>
        <div class="about float_left">
            <div class="about_title">Liên hệ</div>
            <div class="about_content2">
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/location-pin-icon.jpg" alt=""></div>
                    <div class="abco_cont float_left">Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</div>
                </div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/phone-icon.png" alt=""></div>
                    <div class="abco_cont float_left">04.3869 4242</div>
                </div>
                <div class="clear"></div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/email-icon.png" alt=""></div>
                    <div class="abco_cont float_left">hcth@hust.edu.vn</div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--<script>-->
<!--    // Get the modal-->
<!--    var modal = document.getElementById("myModal");-->

<!--    // Get the button that opens the modal-->
<!--    var btn = document.getElementById("button_detail");-->

<!--    // Get the <span> element that closes the modal-->
<!--    var span = document.getElementsByClassName("close")[0];-->

<!--    // When the user clicks the button, open the modal-->
<!--    btn.onclick = function () {-->
<!--        modal.style.display = "block";-->
<!--    }-->

<!--    // When the user clicks on <span> (x), close the modal-->
<!--    span.onclick = function () {-->
<!--        modal.style.display = "none";-->
<!--    };-->

<!--    // When the user clicks anywhere outside of the modal, close it-->
<!--    window.onclick = function (event) {-->
<!--        if (event.target === modal) {-->
<!--            modal.style.display = "none";-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>