<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/css/all.min.css">

    <link rel="stylesheet" href="/custom/css/style-trangchu.css">
    <link rel="stylesheet" href="/custom/css/style-seatbooking.css">

    <script type="text/javascript" src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/libs/jquery-ui/jquery-ui.1.12.1.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap-datepicker.js"></script>
    <script src="/libs/bootstrap/bootstrap.4.1.0.min.js"></script>
    <script type="text/javascript" src="/custom/js/trang_chu.js"></script>
</head>

<body>

<div class="container">
    <div class="header">
        <div class="logo_header">
            <img class="logoheader" src="/images/logo.svg" alt="">
        </div>
        <div class="menu_header">
            <ul class="menu">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li><a href="">Đăng nhập</a></li>
                <li><a href="">Đăng ký</a></li>
            </ul>
        </div>
    </div>
    <!-- ======================================= -->
    <!--    <div class="header_2">-->
    <!--        <div class="header2-content">-->
    <!--            <span style="color: #333;font-size: 15px;font-weight: 500;">Xe khách đi từ Hà Nội đến Quảng Ninh</span>-->
    <!--        </div>-->
    <!--        <div class="header2-content">-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="header_input">
        <div class="header_input_form">
            <select name="" id="start_location" class="form-control" required="required">
                <option th:each="entity:${listViTri}" th:value="${entity.id}" th:text="${entity.viTri}"></option>
            </select>
        </div>
        <div class="header_input_icon">
            <span style="font-size: 20px;" class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="header_input_form">
            <select name="" id="end_location" class="form-control" required="required">
                <option th:each="entity:${listViTri}" th:value="${entity.id}" th:text="${entity.viTri}"></option>
            </select>
        </div>
        <div class="header_input_form">
            <input type="text" id="start_date" class="form-control datepicker" placeholder="MM/DD/YYYY" readonly>
        </div>
        <div class="header_input_button">
            <button class="btn button_input" type="button">Tìm kiếm vé xe</button>
        </div>
    </div>
    <div class="filter_header">
        <div class="filter_menu">
            <ul class="filter_menu_list">
                <li style="margin-right: 100px; font-size: 15px;">Sắp xếp tuyến đường theo:</li>
                <li class="fml_child">
                    <a class="fml_child_dropdown" href="">Giờ đi</a><span class="caret"></span>
                    <div class="fml_child_dropdown_content">
                        <a href="">Tăng dần</a>
                        <br>
                        <a href="">Giảm dần</a>
                    </div>
                </li>
                <li class="fml_child">
                    <a class="fml_child_dropdown" href="">Đánh giá</a><span class="caret"></span>
                    <div class="fml_child_dropdown_content">
                        <a href="">Tăng dần</a>
                        <br>
                        <a href="">Giảm dần</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main_content">
        <div class="mc_card">
            <div class="mc_card_c">
                <div class="mc_card_icon"><img width="30px" src="/images/vexere-ico.svg" alt=""></div>
                <div class="mc_card_nhaxe">
                    <span style="font-size: 12px;font-weight: bold;">Hùng Cường Limousine</span>
                    <br>
                    <div class="nhaxe_icon_ser">
                        <div class="ser1">
                            <img src="/images/wifi.svg" alt="">
                        </div>
                        <div class="ser1">
                            <img src="/images/Water.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mc_card_dd">
                <span>CTC2 Mễ Trì</span><span class="glyphicon glyphicon-chevron-right arror_icon"></span><span>Cửa
                        khẩu Móng Cái</span>
                <br>
                <div class="mc_card_dd_lichtrinh"><a href="">Lịch trình</a></div>
            </div>
            <div class="mc_card_loaixe float_left">
                <span>Limousine 9 chỗ Vip</span>
                <div style="margin-top: 7px;margin-bottom: 7px;"></div>
                <span>Còn 9 chỗ trống</span>
                <div style="margin-top: 7px;margin-bottom: 7px;"></div>
                <span><a href="">Chính sách hủy vé</a></span>
            </div>
            <div class="mc_card_star float_left">
                <div class="starate">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="volrate"><span>0 đánh giá</span></div>
            </div>
            <div class="mc_card_price float_right">
                <div class="mccp">350000đ</div>
                <div class="btn_choncho">
                    <div class="btn_cc_icon float_left"><img src="/images/vexere-bus-icon-sm.svg" alt=""></div>
                    <!-- <div class="btn_cc_cont float_left"><a href="#popup1">Chọn chỗ</a></div> -->
                    <div id="myBtn" class="btn_cc_cont float_left"> Chọn chỗ</div>

                </div>
            </div>
            <div class="conten_foot">Thuộc chuyến Hà Nội Móng Cái ngày</div>
        </div>

        <div id="myModal" class="modal">
            <div class="popup">
                <h2>Thông tin chi tiết chuyến xe</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <div class="left-popup-content">
                        <table class="table table-hover tbk_custom">
                            <thead>
                            <tr>
                                <th>Tên nhà xe</th>
                                <th>Điểm xuất phát</th>
                                <th>Điểm trả</th>
                                <th>Số ghế</th>
                                <th>Số ghế còn trống</th>
                                <th>Giá mỗi ghế</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                                <td>abc</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="orderseat-content">
                            <div class="ods_intrs">
                                <div class="color float_left" style="display: block;
                                    background: #dddddd;
                                    width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Không chọn</div>
                                <div class="color float_left" style="display: block;
                                background: #F42536;
                                width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế trống</div>
                                <div class="color float_left" style="display: block;
                            background: #bada55;
                            width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế đang chọn</div>
                            </div>
                            <div class="icon_exit clear">
                                <img src="/images/exit.png" alt="">
                            </div>
                            <div class="plane">
                                <ol class="cabin fuselage">
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="1A" />
                                                <label for="1A">1A</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1B" />
                                                <label for="1B">1B</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1C" />
                                                <label for="1C">1C</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1D" />
                                                <label for="1D">1D</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1E" />
                                                <label for="1E">1E</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1F" />
                                                <label for="1F">1F</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1G" />
                                                <label for="1G">1G</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1H" />
                                                <label for="1H">1H</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1I" />
                                                <label for="1I">1I</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="1K" />
                                                <label for="1K">1K</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats">
                                            <li class="seat">
                                                <input type="checkbox" id="2A" />
                                                <label for="2A">2A</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2B" />
                                                <label for="2B">2B</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2C" />
                                                <label for="2C">2C</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" disabled id="2D" />
                                                <label for="2D">Occupied</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2E" />
                                                <label for="2E">2E</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2F" />
                                                <label for="2F">2F</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2G" />
                                                <label for="2G">2G</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2H" />
                                                <label for="2H">2H</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2I" />
                                                <label for="2I">2I</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="2K" />
                                                <label for="2K">2K</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats">
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">

                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="3K" />
                                                <label for="3K">3K</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="4A" />
                                                <label for="4A">4A</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4B" />
                                                <label for="4B">4B</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4C" />
                                                <label for="4C">4C</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4D" />
                                                <label for="4D">4D</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4E" />
                                                <label for="4E">4E</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4F" />
                                                <label for="4F">4F</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4G" />
                                                <label for="4G">4G</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4H" />
                                                <label for="4H">4H</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4I" />
                                                <label for="4I">4I</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="4K" />
                                                <label for="4K">4K</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="5A" />
                                                <label for="5A">5A</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5B" />
                                                <label for="5B">5B</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5C" />
                                                <label for="5C">5C</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5D" />
                                                <label for="5D">5D</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5E" />
                                                <label for="5E">5E</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5F" />
                                                <label for="5F">5F</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5G" />
                                                <label for="5G">5G</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5H" />
                                                <label for="5H">5H</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5I" />
                                                <label for="5I">5I</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="5K" />
                                                <label for="5K">5K</label>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                            <div class="icon_exit">
                                <img src="/images/exit.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="right-popup-content">

                        <div class="form_custom_popup">
                            <form action="" method="POST" role="form">
                                <label>Nhập thông tin khách hàng</label>

                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input type="text" class="form-control" id="real_name" placeholder="Tên khách hàng">
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" placeholder="Số điện thoại">
                                </div>

                                <button type="submit" class="btn btn-primary">Tiếp tục</button>
                                <button class="btn btn-primary" data-dismiss="modal">Hủy</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="about float_left">
            <div class="about_title">Về chúng tôi</div>
            <div class="about_cont">Về chúng tôi</div>
            <div class="about_cont">Tuyển dụng</div>
            <div class="about_cont">Liên hệ</div>
            <div class="about_cont">Phần mềm nhà xe</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Hỗ trợ</div>
            <div class="about_cont">Quy định của chúng tôi</div>
            <div class="about_cont">Câu hỏi thường gặp</div>
            <div class="about_cont">Cơ chế giải quyết tranh chấp</div>
            <div class="about_cont">Chính sách bảo mật</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Phương thức thanh toán</div>
            <div class="about_con">
                <div class="payment_icon float_left"><img style="width: 80px; margin-top: 9px;" class="pm_ic_ing" src="/images/logo-mastercard-mobile.svg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 50px;" class="pm_ic_ing" src="/images/visa-icon-png-20.jpg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 40px; margin-top: 6px;margin-left: 20px;" class="pm_ic_ing" src="/images/logo-momo.jpg" alt=""></div>
            </div>
            <div class="about_con"><img style="width: 150px;" src="/images/Android-App-Store-logos.png" alt=""></div>
        </div>
        <div class="about float_left">
            <div class="about_title">Liên hệ</div>
            <div class="about_content2">
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/location-pin-icon.jpg" alt=""></div>
                    <div class="abco_cont float_left">Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</div>
                </div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/phone-icon.png" alt=""></div>
                    <div class="abco_cont float_left">04.3869 4242</div>
                </div>
                <div class="clear"></div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/email-icon.png" alt=""></div>
                    <div class="abco_cont float_left">hcth@hust.edu.vn</div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script src="JS/jquery.min.js"></script>
</body>

</html>