<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/css/all.min.css">
    <link rel="stylesheet" href="/custom/css/style-trangchu.css">
    <link rel="stylesheet" href="/custom/css/style-seatbooking.css">
    <script type="text/javascript" src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/libs/jquery-ui/jquery-ui.1.12.1.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap-datepicker.js"></script>
    <script src="/libs/bootstrap/bootstrap.4.1.0.min.js"></script>
    <script src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap.4.1.0.min.js"></script>
    <script type="text/javascript" src="/custom/js/layouts/common_component.js"></script>
    <script type="text/javascript" src="/custom/js/trang_chu.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo_header">
            <a href="/trang-chu">
                <img class="logoheader" src="/images/logo.svg" alt="">
            </a>
        </div>
        <div class="menu_header">
            <ul class="menu">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li id="nav_login" hidden><a href="/login">Đăng nhập</a></li>
                <li id="nav_register" hidden><a href="">Đăng ký</a></li>
            </ul>
        </div>
    </div>
    <div class="header_input">
        <div class="header_input_form">
            <label for="start_location">Điểm xuất phát</label>
            <select name="" id="start_location" class="form-control" required="required">
                <option th:each="entity:${viTris}" th:value="${entity.id}" th:text="${entity.tinh}"></option>
            </select>
        </div>
        <div class="header_input_icon">
            <span style="font-size: 20px;" class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="header_input_form">
            <label for="end_location">Điểm kết thúc</label>
            <select name="" id="end_location" class="form-control" required="required">
                <option th:each="entity:${viTris}" th:value="${entity.id}" th:text="${entity.tinh}"></option>
            </select>
        </div>
        <div class="header_input_form">
            <label for="start_date">Ngày xuất phát</label>
            <input type="text" id="start_date" class="form-control datepicker" placeholder="MM/DD/YYYY" readonly>
        </div>
        <div class="header_input_button">
            <button class="btn button_input" type="button">Tìm kiếm vé xe</button>
        </div>
    </div>
    <div class="filter_header">
        <div class="filter_menu">
            <ul class="filter_menu_list">
                <li style="margin-right: 100px; font-size: 15px;">Sắp xếp tuyến đường theo:</li>
                <li class="fml_child">
                    <a class="fml_child_dropdown" href="">Giờ đi</a><span class="caret"></span>
                    <div class="fml_child_dropdown_content">
                        <a href="">Tăng dần</a>
                        <br>
                        <a href="">Giảm dần</a>
                    </div>
                </li>
                <li class="fml_child">
                    <a class="fml_child_dropdown" href="">Đánh giá</a><span class="caret"></span>
                    <div class="fml_child_dropdown_content">
                        <a href="">Tăng dần</a>
                        <br>
                        <a href="">Giảm dần</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main_content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Nhà Xe</th>
                <th>Xuất Phát</th>
                <th>Kết Thúc</th>
                <th>Trạng Thái Xe</th>
                <th>Đánh Giá</th>
                <th>Đặt Vé</th>
            </tr>
            </thead>
            <tbody id="chuyen_xes_collection">
            </tbody>
        </table>

        <div id="myModal" class="modal">
            <div class="popup">
                <h2>Đặt Vé</h2>
                <a class="close" data-dismiss="modal">&times;</a>
                <div class="content">
                    <div class="left-popup-content">
                        <table class="table table-hover tbk_custom">
                            <thead>
                            <tr>
                                <th>Số ghế còn trống</th>
                                <th>Giá mỗi ghế</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_modal">
                            </tbody>
                        </table>

                        <div class="orderseat-content">
                            <div class="ods_intrs">
                                <div class="color float_left" style="display: block;
                                    background: #dddddd;
                                    width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Không chọn</div>
                                <div class="color float_left" style="display: block;
                                background: #F42536;
                                width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế trống</div>
                                <div class="color float_left" style="display: block;
                            background: #bada55;
                            width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                                </div>
                                <div class="idsch float_left">Ghế đang chọn</div>
                            </div>
                            <div class="icon_exit clear">
                                <label>
                                    <select>
                                        <option value="tang_1">Tầng 1</option>
                                        <option value="tang_2">Tầng 2</option>
                                    </select>
                                </label>
                            </div>
                            <div class="plane">
                                <ol class="cabin fuselage">
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="A1"/>
                                                <label for="A1">A1</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A2"/>
                                                <label for="A2">A2</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A3"/>
                                                <label for="A3">A3</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A4"/>
                                                <label for="A4">A4</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A5"/>
                                                <label for="A5">A5</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A6"/>
                                                <label for="A6">A6</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A7"/>
                                                <label for="A7">A7</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A8"/>
                                                <label for="A8">A8</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A9"/>
                                                <label for="A9">A9</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A10"/>
                                                <label for="A10">A10</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="A11"/>
                                                <label for="A11">A11</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A12"/>
                                                <label for="A12">A12</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A13"/>
                                                <label for="A13">A13</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A14"/>
                                                <label for="A14">A14</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A15"/>
                                                <label for="A15">A15</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A16"/>
                                                <label for="A16">A16</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A17"/>
                                                <label for="A17">A17</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A18"/>
                                                <label for="A18">A18</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A19"/>
                                                <label for="A19">A19</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A20"/>
                                                <label for="A4">A4</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="A21"/>
                                                <label for="A21">A21</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A22"/>
                                                <label for="A22">A22</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A23"/>
                                                <label for="A23">A23</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A24"/>
                                                <label for="A24">A24</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A25"/>
                                                <label for="A25">A25</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A26"/>
                                                <label for="A26">A26</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A27"/>
                                                <label for="A27">A27</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A28"/>
                                                <label for="A28">A28</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A29"/>
                                                <label for="A29">A29</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A30"/>
                                                <label for="A30">A30</label>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="row">
                                        <ol class="seats" type="A">
                                            <li class="seat">
                                                <input type="checkbox" id="A31"/>
                                                <label for="A31">A31</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A32"/>
                                                <label for="A32">A32</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A33"/>
                                                <label for="A33">A33</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A34"/>
                                                <label for="A34">A34</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A35"/>
                                                <label for="A35">A35</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A36"/>
                                                <label for="A36">A36</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A37"/>
                                                <label for="A37">A37</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A38"/>
                                                <label for="A38">A38</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A39"/>
                                                <label for="A39">A39</label>
                                            </li>
                                            <li class="seat">
                                                <input type="checkbox" id="A40"/>
                                                <label for="A40">A40</label>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="right-popup-content">
                        <div class="form_custom_popup" id="book_ticket_form_login">
                            <form action="/thanh-toan" method="POST" role="form" id="form_submit">
                                <div class="form-group">
                                    <label for="real_name">Tài Khoản</label>
                                    <input type="text" class="form-control" id="real_name">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Mật Khẩu</label>
                                    <input type="password" class="form-control" id="phone">
                                </div>
                                <button class="btn btn-primary" data-dismiss="modal">Đăng Nhập</button>
                            </form>
                            <button type="submit" class="btn btn-primary" id="btn_payment" style="float: right">Tiếp
                                tục
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="about float_left">
            <div class="about_title">Về chúng tôi</div>
            <div class="about_cont">Về chúng tôi</div>
            <div class="about_cont">Tuyển dụng</div>
            <div class="about_cont">Liên hệ</div>
            <div class="about_cont">Phần mềm nhà xe</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Hỗ trợ</div>
            <div class="about_cont">Quy định của chúng tôi</div>
            <div class="about_cont">Câu hỏi thường gặp</div>
            <div class="about_cont">Cơ chế giải quyết tranh chấp</div>
            <div class="about_cont">Chính sách bảo mật</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Phương thức thanh toán</div>
            <div class="about_con">
                <div class="payment_icon float_left"><img style="width: 80px; margin-top: 9px;" class="pm_ic_ing"
                                                          src="/images/logo-mastercard-mobile.svg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 50px;" class="pm_ic_ing"
                                                          src="/images/visa-icon-png-20.jpg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 40px; margin-top: 6px;margin-left: 20px;"
                                                          class="pm_ic_ing" src="/images/logo-momo.jpg" alt=""></div>
            </div>
            <div class="about_con"><img style="width: 150px;" src="/images/Android-App-Store-logos.png" alt=""></div>
        </div>
        <div class="about float_left">
            <div class="about_title">Liên hệ</div>
            <div class="about_content2">
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/location-pin-icon.jpg" alt=""></div>
                    <div class="abco_cont float_left">Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</div>
                </div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/phone-icon.png" alt=""></div>
                    <div class="abco_cont float_left">04.3869 4242</div>
                </div>
                <div class="clear"></div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/email-icon.png" alt=""></div>
                    <div class="abco_cont float_left">hcth@hust.edu.vn</div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--<script>-->
<!--    // Get the modal-->
<!--    var modal = document.getElementById("myModal");-->

<!--    // Get the button that opens the modal-->
<!--    var btn = document.getElementById("button_detail");-->

<!--    // Get the <span> element that closes the modal-->
<!--    var span = document.getElementsByClassName("close")[0];-->

<!--    // When the user clicks the button, open the modal-->
<!--    btn.onclick = function () {-->
<!--        modal.style.display = "block";-->
<!--    }-->

<!--    // When the user clicks on <span> (x), close the modal-->
<!--    span.onclick = function () {-->
<!--        modal.style.display = "none";-->
<!--    };-->

<!--    // When the user clicks anywhere outside of the modal, close it-->
<!--    window.onclick = function (event) {-->
<!--        if (event.target === modal) {-->
<!--            modal.style.display = "none";-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>