<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang thanh toan</title>
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/custom/css/style-seatbooking.css">
    <link rel="stylesheet" href="/custom/css/normalize.css">
    <link rel="stylesheet" href="/custom/css/style-thanhtoan.css">
</head>

<body>

<div class="container">
    <div class="header">
        <div class="logo_header">
            <img class="logoheader" src="/images/logo.svg" alt="">
        </div>
        <div class="menu_header">
            <ul class="menu">
                <li><a href="/trang-chu">Trang chủ</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li><a href="">Đăng nhập</a></li>
                <li><a href="">Đăng ký</a></li>
            </ul>
        </div>
    </div>
    <!-- ================= -->
    <div class="header_2">
        <div class="header2-content">
            <span style="color: #333;font-size: 18px;font-weight: bold;">Thông tin khách hàng đặt vé</span>
        </div>
        <div class="header2-content">
        </div>
    </div>

    <div class="main-content">
        <div class="left-content float_left">
            <span style="font-size: 18px;color: #484848;">Vị trí chỗ ngôi khách đã đặt</span>
            <div style="height: 4px;" class=""></div>
            <div class="lefc-table">
                <div class="orderseat-content">
                    <div class="ods_intrs">
                        <div class="color float_left" style="display: block;
                        background: #dddddd;
                        width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                        </div>
                        <div class="idsch float_left">Không chọn</div>
                        <div class="color float_left" style="display: block;
                    background: #F42536;
                    width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                        </div>
                        <div class="idsch float_left">Ghế trống</div>
                        <div class="color float_left" style="display: block;
                background: #bada55;
                width: 15px; height: 15px; border: 1px solid rgb(145, 145, 145);">
                        </div>
                        <div class="idsch float_left">Ghế đang chọn</div>
                    </div>
                    <div class="icon_exit clear">
                        <img src="/images/exit.png" alt="">
                    </div>
                    <div class="plane">
                        <ol class="cabin fuselage">
                            <li class="row">
                                <ol class="seats" type="A">
                                    <li class="seat">
                                        <input type="checkbox" id="1A" />
                                        <label for="1A">1A</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1B" />
                                        <label for="1B">1B</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1C" />
                                        <label for="1C">1C</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1D" />
                                        <label for="1D">1D</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1E" />
                                        <label for="1E">1E</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1F" />
                                        <label for="1F">1F</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1G" />
                                        <label for="1G">1G</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1H" />
                                        <label for="1H">1H</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1I" />
                                        <label for="1I">1I</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="1K" />
                                        <label for="1K">1K</label>
                                    </li>
                                </ol>
                            </li>
                            <li class="row">
                                <ol class="seats">
                                    <li class="seat">
                                        <input type="checkbox" id="2A" />
                                        <label for="2A">2A</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2B" />
                                        <label for="2B">2B</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2C" />
                                        <label for="2C">2C</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" disabled id="2D" />
                                        <label for="2D">Occupied</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2E" />
                                        <label for="2E">2E</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2F" />
                                        <label for="2F">2F</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2G" />
                                        <label for="2G">2G</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2H" />
                                        <label for="2H">2H</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2I" />
                                        <label for="2I">2I</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="2K" />
                                        <label for="2K">2K</label>
                                    </li>
                                </ol>
                            </li>
                            <li class="row">
                                <ol class="seats">
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">

                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="3K" />
                                        <label for="3K">3K</label>
                                    </li>
                                </ol>
                            </li>
                            <li class="row">
                                <ol class="seats" type="A">
                                    <li class="seat">
                                        <input type="checkbox" id="4A" />
                                        <label for="4A">4A</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4B" />
                                        <label for="4B">4B</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4C" />
                                        <label for="4C">4C</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4D" />
                                        <label for="4D">4D</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4E" />
                                        <label for="4E">4E</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4F" />
                                        <label for="4F">4F</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4G" />
                                        <label for="4G">4G</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4H" />
                                        <label for="4H">4H</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4I" />
                                        <label for="4I">4I</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="4K" />
                                        <label for="4K">4K</label>
                                    </li>
                                </ol>
                            </li>
                            <li class="row">
                                <ol class="seats" type="A">
                                    <li class="seat">
                                        <input type="checkbox" id="5A" />
                                        <label for="5A">5A</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5B" />
                                        <label for="5B">5B</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5C" />
                                        <label for="5C">5C</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5D" />
                                        <label for="5D">5D</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5E" />
                                        <label for="5E">5E</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5F" />
                                        <label for="5F">5F</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5G" />
                                        <label for="5G">5G</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5H" />
                                        <label for="5H">5H</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5I" />
                                        <label for="5I">5I</label>
                                    </li>
                                    <li class="seat">
                                        <input type="checkbox" id="5K" />
                                        <label for="5K">5K</label>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <div class="icon_exit">
                        <img src="/images/exit.png" alt="">
                    </div>
                </div>
            </div>
            <div style="height: 6px;" class=""></div>
            <span style="font-size: medium;">Bằng việc bấm nút Thanh toán, bạn đã đồng ý với chính sách của chúng
                    tôi</span>
            <div style="height: 4px;" class=""></div>
            <button class="lebtn-cus">Thanh toán</button>
        </div>
        <div class="right-content float_right">
            <span style="font-size: 18px;color: #484848;">Thông tin chuyến đi</span>
            <div style="height: 4px;" class=""></div>
            <div class="right-table">
                <div class="row-cont">
                    <div class="rc-label float_left">Hành khách</div>
                    <div class="rc-info float_right">Nguyễn Hữu Thanh</div>
                </div>
                <div class="row-cont border_bot clear">
                    <div class="rc-label float_left">Số điện thoại</div>
                    <div class="rc-info float_right">78910JQKA</div>
                </div>
                <div style="margin-top: 7px;" class="row-cont">
                    <div class="rc-label float_left">Nhà xe</div>
                    <div class="rc-info float_right">Hùng Cường limousine</div>
                </div>
                <div class="row-cont">
                    <div class="rc-label float_left">Điểm đón khách</div>
                    <div class="rc-info float_right">Hà Nội</div>
                </div>
                <div class="row-cont">
                    <div class="rc-label float_left">Điểm trả khách</div>
                    <div class="rc-info float_right">Quảng Ninh</div>
                </div>
            </div>
            <div style="height: 50px;"></div>
            <span style="font-size: 18px;color: #484848;">Bạn có mã giảm giá</span>
            <div style="height: 4px;" class=""></div>
            <div style="height: 90px;" class="right-table">
                <span style="font-size: 14px;">Nhập mã giảm giá</span>
                <div style="height: 4px;" class=""></div>
                <div class="gg-input-range float_left">
                    <div class="input-cus">
                        <input class="input-custom-rr float_left" type="text" name="" id="">
                        <button class="btn-custom-rr float_right">Áp dụng</button>
                    </div>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="total">
                <div class="label_tt float_left">Tổng tiền:</div>
                <div class="mn-tt float_right">350000đ</div>
            </div>
        </div>

    </div>

    <div class="clear"></div>
    <div style="height: 30px;"></div>

    <div class="footer">
        <div class="about float_left">
            <div class="about_title">Về chúng tôi</div>
            <div class="about_cont">Về chúng tôi</div>
            <div class="about_cont">Tuyển dụng</div>
            <div class="about_cont">Liên hệ</div>
            <div class="about_cont">Phần mềm nhà xe</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Hỗ trợ</div>
            <div class="about_cont">Quy định của chúng tôi</div>
            <div class="about_cont">Câu hỏi thường gặp</div>
            <div class="about_cont">Cơ chế giải quyết tranh chấp</div>
            <div class="about_cont">Chính sách bảo mật</div>
        </div>
        <div class="about float_left">
            <div class="about_title">Phương thức thanh toán</div>
            <div class="about_con">
                <div class="payment_icon float_left"><img style="width: 80px; margin-top: 9px;" class="pm_ic_ing"
                                                          src="/images/logo-mastercard-mobile.svg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 50px;" class="pm_ic_ing"
                                                          src="/images/visa-icon-png-20.jpg" alt=""></div>
                <div class="payment_icon float_left"><img style="width: 40px; margin-top: 6px;margin-left: 20px;"
                                                          class="pm_ic_ing" src="/images/logo-momo.jpg" alt=""></div>
            </div>
            <div class="about_con"><img style="width: 150px;" src="/images/Android-App-Store-logos.png" alt=""></div>
        </div>
        <div class="about float_left">
            <div class="about_title">Liên hệ</div>
            <div class="about_content2">
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/location-pin-icon.jpg" alt=""></div>
                    <div class="abco_cont float_left">Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</div>
                </div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/phone-icon.png" alt=""></div>
                    <div class="abco_cont float_left">04.3869 4242</div>
                </div>
                <div class="clear"></div>
                <div class="abco">
                    <div class="abco_icon float_left"><img src="/images/email-icon.png" alt=""></div>
                    <div class="abco_cont float_left">hcth@hust.edu.vn</div>
                </div>
            </div>
        </div>

    </div>
</div>




    <script src="/libs/JS/jquery.min.js"></script>
    <script src="/libs/JS/fontawesome/all.js"></script>
    <script src="/libs/bootstrap-3.4.1-dist/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>

</html>